body{
    background-color:#D8C7B6;
}
.signUpForm{
    background-color:#FFFFFF;
    width:600px;
    height:406px;
    margin:auto;
    margin-top:10%;
    text-align:center;
}
.formElements{
    display:grid;
    grid-template-columns: auto auto;
    gap:20px;
    width:550px;
    margin:auto;
    justify-content:center;
}
.fe1, .fe2, .fe3{
    text-align:left;
}
.fe3{
    grid-column:1/3;
}
#comments{     
    border:none;
    background-color:#e6e6e6;
    resize:none;
}
.textbox{
    width:250px;
    height:25px;
    border:none;
    background-color:#e6e6e6;
}
.submitbtn{
    width:200px;
    height:40px;
    background-color:black;
    color:white;
    margin:10px 0;
    cursor:pointer;
}
.arrow{
    font-size:20px;
}
.statusMessage{
    position:relative;
    top:40%;
    font-size:40px;
}
.tryagainbtn{
    width:100px;
    height:40px;
    background-color:black;
    color:white;
    margin:10px 0;
    cursor:pointer;
    font-size:30px
}